.wrapper {
    background-color: #e4e4e4;
    color: #000000;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 1.25rem;

    ul, li {
        list-style: disc;

        @media (max-width: 600px) {
            list-style: none;
        }
    }

    h3 {
        text-align: center;
    }
}

.info-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px 40px;
    align-self: center;

    @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 10px;
        align-self: center;
        text-align: center;
        text-decoration: underline;
    }
}
