.wrapper {
    background-color: #ebc880;
    color: #000000;
}

.items {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    opacity: 0;
  
    &.animated {
        animation: var(--fadeInWithScale-animation) 0.6s ease-out forwards;
    }

    @media (max-width: 1520px) {
        justify-content: center;
    }
}

.item {
    flex: 1 1 0;

    padding: 20px 10px;
    max-width: 224px;
    min-width: 224px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    gap: 16px;
    box-shadow: 0px 2px 4px -2px #0000001A, 0px 4px 6px -1px #0000001A;
    border-radius: 8px;
    background-color: #ffffff;
    text-align: center;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05) rotate(3deg);;
    }

    .divider {
        width: 60%;
        height: 1px;
        background-color: #000000;
    }

    p {
        display: flex;
        flex-direction: column;
        gap: 6px;

        span {
            font-weight: 700;
            font-size: 1.1rem;
        }
    }
}
