.wrapper {
    background-color: #e4e4e4;
    color: #000000;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    .button {
        padding: 10px;
        min-width: 200px;
        max-width: 200px;
        min-height: 60px;
        border-radius: 10px;
        font-size: 1rem;
        color: #ffffff;
        background-color: #000000;
        cursor: pointer;

        &:hover {
            transform: scale(1.02);
        }

        &:active {
            transform: scale(0.9);
            opacity: 0.7;
        }
    }

    .button-active {
        transform: scale(0.9);
        opacity: 0.7;
    }
}

.items {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.item {
    position: relative;
    padding: 20px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px -2px #0000001A, 0px 4px 6px -1px #0000001A;
    border-radius: 8px;
    color: #000000;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: translateY(-3%);
    }

    h3 {
        height: 50px;
    }

    .image {
        padding: 10px 0;
        border-top: 3px solid #000000;
        border-bottom: 3px solid #000000;
    }
}

.coffin-item {
    width: 300;

    img {
        width: 200px;
        height: 150px;
    }
}

.tap-icon {
    position: absolute;
    top: 4px;
    right: 4px;
}
